<div align=right >
  <%= link_to "ログアウト" , controller: :login, action: :index %>
</div>

<h1 style="margin-top:-17px">ユーザー情報変更</h1>

<%= render 'form' %>

<div style="margin-left:540px"><div style="margin-top:17px"><%= link_to 'メニューに戻る', menu_index_path %></div></div>